<% @tweet.each do |e| %>
    <%= e.message %>
    <%= link_to 'いいね', likes_create_path(tweet_id: e.id), method: :post %>
    <%= link_to 'いいね削除', likes_destroy_path(tweet_id: e.id), method: :delete %>
    <% if @like.find_by(tweet_id: e.id) %>
        <%= p '🤍' %>
    <% else %>
        <%= p '♡' %>
    <%end%>
    <%= link_to '削除',"/tweets/#{e.id}",method: :delete %>
    
    <br>
<% end %>


<% if session[:login_uid] %>
    <p><%= link_to 'ツイート','/tweets/new'%></p>

    <p><%= link_to 'ログアウト',top_logout_path %></p>
    <p><%= p "ログイン中です（#{session[:login_uid]}さん）"%></p>
<% else %>
    <%= link_to 'ログイン','/top/main' %>
    
    <p>ログインしていません</p>
<% end %>