<% @tweet.each do |e| %>
    <%= e.message %>
    <% if session[:login_uid] %>
        <%= link_to 'ã„ã„ã­', likes_create_path(tweet_id: e.id), method: :post %>
        <%= link_to 'ã„ã„ã­å‰Šé™¤', likes_destroy_path(tweet_id: e.id), method: :delete %>
        <% if @like.find_by(tweet_id: e.id,user_id: @user.id) %>
            <%= p 'ðŸ¤' %>
        <% else %>
            <%= p 'â™¡' %>
        <%end%>
        <%= link_to 'å‰Šé™¤',"/tweets/#{e.id}",method: :delete %>
    <%end%>
    
    
    <br>
<% end %>


<% if session[:login_uid] %>
    <p><%= link_to 'ãƒ„ã‚¤ãƒ¼ãƒˆ','/tweets/new'%></p>
    <p><%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ',top_logout_path %></p>
<% else %>
    <%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³','/top/main' %>
<% end %>